@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: gold;
    background-image: url(/image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.782),rgba(0, 0, 0, 0.53));
    min-height: 100vh;
}

h1{
    font-size: 3rem;
    padding: 2rem;
    background-color: #371607da;
    margin-top: 0;
}

h3{
    margin: 0;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}

span{
    position: absolute;
    top: 2rem;
    right: -1rem;
    font-size: 1rem;
    display: block;
}

textarea{
    display: block;
    margin: 5rem auto 1rem;
    width: 20%;
    padding: 1rem;
}

button{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #af3b05;
    color: white;
}

#output{
    font-size: 1.5rem;
    padding: 3rem;
    background-color: #371607b7;
    min-height: 3rem;
    margin: 2rem auto;
    width: 40%;
    border: 3px solid black;
    position: relative;
}

#output::before{
    content: '"';
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    font-size: 4rem;
}

#output::after{
    content: '"';
    position: absolute;
    bottom: -3rem;
    right: -0.5rem;
    font-size: 4rem;
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 2.5rem;
    }

    h3{
        padding: 0.5rem;
    }
    
    span{
        right: 2rem;
        top: 4rem;
    }

    textarea{
        width: 60%;
    }
}

@media screen and (max-width: 425px) {
    h1{
        font-size: 2rem;
    }

    #output{
        font-size: 1.2rem;
    }
}